<%= render "debtPay", updatedebt: debt %>

<div class="debtBox">
    You owe <%= debt.indebted.first_name %> $<%= debt.amount %>.

    <button type="button" data-toggle="modal" data-target="#myModal<%=debt.id%>" class="btn btn-mini">Paid</button>
</div>


