<div class="row">
    <div class="span10 offset1">
        <div class="welcomeContainer">
            <div class="welcomeContent">
                <h2>Split group expenses with FriendSplitter!</h2>
                <p class="blurb">
                <strong>Share</strong> bills with <strong>friends</strong>. Make sure everyone gets paid back.
                </p>
                <div id="graphic"></div>
                <div>
                    <%= link_to "Login", new_user_session_path, class: "welcomeBtn" %>
                    <%= link_to "Sign up", new_user_registration_path, class: "welcomeBtn" %>
                </div>
            </div>
        </div>
    </div>
</div>
