<div class="center">

  <% if user_signed_in? %>
  	
    <div class="row">
      <div id="event-panel" class="span7">

        <div class="row">

          <p>
            <button class="btn btn-primary" type="button">Create New Event</button>

            <!-- Not implementing in this step: <button class="btn btn-primary" type="button">Manage Groups</button> -->
          </p>

          <!-- Not implementing yet: <h1>Pending Events</h1> -->
          <h1>Event History</h1>
          <% if @contributions.any? %>

            <table class="table">
              <% @contributions.each do |contribution| %>
                <tr>
                    <td>

                      <%= contribution.event.title %>

                    </td>
                    <td class="end-col">
                      <!-- need link to event page/path -->

                      <a href="#">Details</a>


                    </td>
                </tr>
              <% end %>
            </table>


          <% else %>
            <p class="center"> You don't seem to have participated in any events.</p>
          <% end %>


        </div>

      </div>

      <div id="debts-panel" class="span5">
        <ul class="nav nav-tabs">
          <li><a href="#home" data-toggle="tab">Debts</a></li>
          <li><a href="#profile" data-toggle="tab">Transactions</a></li>
        </ul>
      </div>

    </div>


  <%else%>

    <h1>Welcome to FriendSplitter!</h1>
    <p> Some blurb here about what we do...and other stuff... </p> 

  <%end%>



</div>