<% if user_signed_in? %>

    <div class="row-fluid">
        <div class="span7 offset1">

            <div id="event-panel" class="center">
                <div class="row">

                    <p>
                    <%= link_to "Create New Event", new_event_path, class: "btn btn-medium btn-inverse" %> 
                    
                    <!-- Not implementing in this step: <button class="btn btn-primary" type="button">Manage Groups</button> -->
                    </p>
                    <p> <a href="#">sample link</a></p>
                    <p class="test"> test</p>
                    <button class="btn">Hi</button>

                    <!-- Not implementing yet: <h1>Pending Events</h1> -->
                    <h1>Event History</h1>
                    <% if @contributions.any? %>

                        <table class="table">
                            <% @contributions.each do |contribution| %>
                                <tr>
                                    <td>

                                        <%= contribution.event.title %>

                                    </td>
                                    <td class="end-col">
                                        <!-- need link to event page/path -->

                                        <a href="#">Details</a>


                                    </td>
                                </tr>
                            <% end %>
                        </table>


                    <% else %>
                        <p class="center"> You don't seem to have participated in any events.</p>
                    <% end %>


                </div>

            </div>
        </div>


        <div class="span3">
            <div id="debts-panel" class="center">
                <ul class="nav nav-tabs">
                    <li><a href="#home" data-toggle="tab">Debts</a></li>
                    <li><a href="#profile" data-toggle="tab">Transactions</a></li>
                </ul>
            </div>
        </div>

    </div>


<%else%>

    <h1>Welcome to FriendSplitter!</h1>
    <p> Some blurb here about what we do...and other stuff... </p> 

<%end%>



