<!-- primary author: Lucy -->
<% if user_signed_in? %>

    <div class="row">
        <div class="span8">

            <div id="event-panel" class="center">
                <%= render "allEvents" %>
            </div>
        </div>

        <div class="span4">
            <%= render "debtpanel" %>
        </div>
    </div>

<%else%>
    <%= render "notloggedin" %>
<%end%>



