/* Primary Author Lucy */
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#graphic {
    content: url(/assets/welcome.png);
    height: 320px;
    display:inline-block;
}

.welcomeContainer{
    border-radius:25px;
    background-color: #fff;
}

.welcomeContent{
    text-align:center;
    padding:20px;
}

.welcomeBtn{
    display:inline-block;
    background-color:#F0A800;
    padding:20px;
    margin:10px;
    color: #fff;
    font-weight:700;
    border-radius:10px;
    border: 0px;
}

.welcomeBtn:hover{
    color: #fff;
    background-color:#FFDD00;
    text-decoration:none;
}

.inputWrap {
    width: 100%;
}

.form{
    margin: 30px;
    text-align:left;
}

.links{
    margin-top: 40px;
    text-align:center;
    padding-bottom:20px;
}


#createEventBtn{
    content: url(/assets/createnewevent.png);
    height: 100px;
    display:inline-block;
}

#createEventBtn:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.createEventBox {
    padding:0px 20px;
}

.smallGreyBtn{
    display:inline-block;
    background-color:#BABABA;
    padding:4px 7px;
    margin:0px;
    color: #fff;
    font-size:0.9em;
    border-radius:3px;
    border: 0px;
}

.smallGreyBtn:hover{
    color: #fff;
    background-color:#D6D6D6;
    text-decoration:none;
}   


.participDiv{
    background-color: #F7F7F7;
    padding:10px;
    margin: 20px 0px;
    border-radius:10px;
}

.eventTitleDiv{
    //background-color: #F7F7F7;
    //border-radius:10px;
    text-align:center;
    padding:20px;
    padding-bottom:0px;
}

.eventDetailDiv{
    background-color: #F7F7F7;
    border-radius:10px;
    padding:20px;
    margin-top:10px;
}

.descr{
    color: #ED8907;
    font-size:1.5em;
}


.debtBox{
    padding:10px;
    background-color:#F7F7F7;
    margin-bottom:10px;
}

.right{
    text-align:right;
}


